

.kaste{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4a4a6a;
  color: white;
  text-align: center;
  padding: 2rem;
}

.sakums{
  color: white;
  text-align: center;
  font-size: 3.2rem;
  padding-bottom: 0.4rem;
}

.sekcija{
  padding: 2rem;
  background-color: #4a4a6a8a;
}

.konteineris {
  width: 1500px;
  margin: auto;
}

.kaste {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 450px;
  border-radius: 20px;
}

.bilde1 {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}

.bilde1_p{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
  padding-top: 4px;
}

.interesanti_fakti{
  text-align: center;
  padding-bottom: 0.4rem;
}

.interesanti_fakti_aprksts{
  text-align: center;
}

.sekcija1{
  padding: 2rem;
  background-color: #4a4a6a;
}

.plāns{
  text-align: center;
  color: white;
  padding-bottom: 2.5rem;
  font-size: 2.2rem;
}

.konteineris1{
  width: 1500px;
  margin: auto;
}

table{
  width: 100%;
}

table, th, td {
  border:2px solid rgb(0, 0, 0);
}

td{
  text-align: center;
  padding: 0.7rem;
}

th, td{
  color: #fff;
}

th{
  padding: 1rem;
  font-size: 1.2rem;
}

.sekcija2{
  background-color: #4a4a6a;
  text-align: center;
  padding: 1rem;

}


  







